In [3]:
from bs4 import BeautifulSoup
from urllib.request import urlopen
import re
import numpy as np
import pandas as pd 
import difflib 
import math
from ast import literal_eval

In [4]:
data = pd.read_csv("profile_details_04.csv") 
len(data)

993

In [5]:
data.head()

,occupation - Split 1,education - Split 1,education - Split 2,education - Split 3,education - Split 4,education - Split 5,almamater - Split 1,almamater - Split 2,almamater - Split 3,almamater - Split 4,...,age,country_born,state_born,city_born,nationality,almamater,education,Gender,occupation,political_party
0,"Government ,Politics and Military",NaN,NaN,NaN,NaN,NaN,University of Waikato,NaN,NaN,NaN,...,38.0,New Zealand,NaN,NaN,New Zealand,['University of Waikato'],NaN,F,['Prime Minister of New Zealand'],Labour
1,Airline Captain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,67.0,U.S.,Texas,Denison,American,NaN,NaN,M,['Airline Captain'],NaN
2,Science and Academics,Stanford University,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.0,U.S.,Connecticut,Greenwich,American,NaN,['Stanford University'],F,['Student' 'Scientist'],NaN
3,Television journalists and hosts,NaN,NaN,NaN,NaN,NaN,University of Florida,NaN,NaN,NaN,...,40.0,U.S.,Maine,Lewiston,American,['University of Florida'],NaN,F,"['Sportscaster', 'television personality']",NaN
4,Television journalists and hosts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,50.0,U.S.,New York,New York City,American,NaN,NaN,M,['American television host'],NaN

In [6]:


education_list = data['education - Split 1'].tolist()
education_list + (data['education - Split 2'].tolist())
education_list + (data['education - Split 3'].tolist())
education_list + (data['education - Split 4'].tolist())
education_list + (data['education - Split 5'].tolist())
education_list + (data['almamater - Split 1'].tolist())
education_list + (data['almamater - Split 2'].tolist())
education_list + (data['almamater - Split 3'].tolist())
education_list + (data['almamater - Split 4'].tolist())

[nan,
 nan,
 'Stanford University',
 nan,
 nan,
 'Harvard University',
 nan,
 'University of Georgia',
 nan,
 'University of North Carolina',
 'University of Mississippi',
 'DePauw University',
 'Georgetown University',
 nan,
 'University of Southern California',
 nan,
 nan,
 nan,
 'Clayton High School',
 nan,
 nan,
 nan,
 nan,
 'Stanford University',
 nan,
 'Lawrence High School',
 'Manchester High School West',
 'Pascack Hills High School',
 nan,
 nan,
 nan,
 'Yankton High School',
 'Douglas MacArthur High School',
 nan,
 nan,
 nan,
 nan,
 'University of Georgia',
 nan,
 nan,
 nan,
 'Indiana University Bloomington',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Hunter College',
 'College of Mount Saint Vincent',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Friends Select School',
 'Roedean School',
 nan,
 'University of Chicago',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Harvard University',
 nan,
 'Colby College',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Saint Sebastians School',
 nan,
 nan,
 nan,
 nan,
 nan,
 'North London Collegiate School',
 'Syracuse University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Sidwell Friends School',
 'University of Michigan',
 'University of Virginia',
 'Texas Christian University',
 'Morgan State University',
 'Brentwood School',
 'Baker High School',
 'Yale University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Columbia University',
 nan,
 'Quigley Preparatory Seminary North',
 'Syracuse University',
 'Knoxville College',
 nan,
 'Phillips Academy',
 nan,
 nan,
 nan,
 nan,
 'Howard University',
 'Colorado School of Mines',
 'Reigate Grammar School',
 nan,
 nan,
 nan,
 'Royal Ballet School',
 'Rhode Island School of Design',
 nan,
 nan,
 'University of California',
 nan,
 nan,
 'Crossroads School for Arts and Sciences',
 nan,
 nan,
 nan,
 'Auburn University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'French Culinary Institute',
 'Vassar College',
 'University of Pittsburgh',
 'Georgetown Prep',
 nan,
 'Broadcast Journalism major',
 'Garfield High School',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Milton Academy',
 'St Bedes Prep School',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of California',
 'Alfred University',
 nan,
 'University of Maryland',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'St Ignatius College Prep',
 'Massapequa High School',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Palisades Charter High School',
 'Boys Latin School of Maryland',
 'Great Valley High School',
 'Parsons School of Design',
 'Yeshivah of Flatbush',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Aylesbury Grammar School',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Bloomingdale High School',
 nan,
 nan,
 'Miami Dade College',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Stephen F Austin High School Austin',
 'Lake Forest Academy',
 'Allegany High School',
 'Fiorello H LaGuardia High School',
 'Notre Dame High School Michigan',
 'Kent School',
 'Creighton Preparatory School',
 'DeKalb School of the Arts',
 'Edward R Murrow High School',
 'Beverly Hills High School',
 'Thornridge High School',
 'Towson High School',
 'Montour High School',
 'HarvardWestlake School',
 'Harlingen High School',
 'Carnegie Mellon University',
 'University of Kansas',
 'Dartmouth College',
 'HarvardWestlake School',
 'Northwestern High School',
 'Juilliard School',
 'North Syracuse Central High School',
 'University of Miami',
 'Juilliard School',
 'Circle in the Square Theatre School',
 'La Cueva High School',
 'Missouri State University',
 'Middletown High School',
 'Hollywood High School',
 'American Musical and Dramatic Academy',
 'Juilliard School',
 'Conestoga Valley High School',
 'Western Michigan University',
 'UCLA',
 'Juilliard School',
 'Notre Dame High School',
 'Bachelor of Science',
 'University of Colorado Boulder',
 'Marist High School',
 'Rockcliffe Park Public School',
 'Los Angeles Valley College',
 'Emerson College',
 'Hampshire College',
 'Emory University',
 'Marlboro College',
 'Wesleyan University',
 'University of North Carolina School of the Arts',
 'University of California',
 'State University of New York',
 'University of Kansas',
 'Indiana University',
 'Texas State University',
 nan,
 'City and Islington College',
 nan,
 nan,
 nan,
 nan,
 'American Baptist College',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Winchester College',
 'Northampton School for Boys',
 'Eton College',
 'Alleyns School',
 'Holmer Green Upper School',
 'Brambletye School',
 'Dragon School',
 'Dragon School',
 'Sylvia Young Theatre School',
 nan,
 nan,
 'Juilliard School',
 nan,
 nan,
 nan,
 nan,
 'Hampshire College',
 nan,
 nan,
 'International School of Dsseldorf',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Somerset College',
 'University of Sydney',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Highland Park High School',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Princeton University',
 'Stuyvesant High School',
 'Green Meadow Waldorf School',
 'Spence School',
 'St Marys HallDoane Academy',
 'Immaculate High School',
 'Buckingham Browne amp Nichols',
 'Campbell Hall School',
 'George Washington High School',
 'Buckingham Browne amp Nichols',
 'Taft High School',
 'HarvardWestlake School',
 'Fairview High School',
 'University of North Carolina School of the Arts',
 'University of Pennsylvania',
 'Juilliard School',
 'Moore Catholic High School',
 'Eastern Regional High School',
 'Corona del Mar High School',
 'Northwestern University',
 'Fordham University',
 'Juilliard School',
 'Juilliard School',
 'Deering High School',
 'Kenyon College',
 'Lyce Franais de Los Angeles',
 'Illinois State University',
 'Indiana University Bloomington',
 'Buckley School',
 'Northwestern University',
 'Rhode Island College',
 'Sacramento City College',
 'The Academy of Theatre Arts',
 'University of California',
 'Sarah Lawrence College',
 'Northwestern University',
 'Dwight Morrow High School',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Cass Technical High School',
 'Dunbar Vocational High School',
 'St Joseph High School',
 nan,
 nan,
 nan,
 'Intake High School',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Kalamazoo Central High School',
 'ShorehamWading River High School',
 'Stuyvesant High School',
 'William Esper Studio',
 'Johns Hopkins University',
 'La Lumiere School',
 'East Side Hebrew Institute',
 nan,
 'St Pauls Girls School',
 nan,
 nan,
 nan,
 'San Pedro High School',
 nan,
 nan,
 nan,
 nan,
 'Syosset High School',
 nan,
 'Ohio State University',
 nan,
 nan,
 nan,
 'Khushal Public School',
 'Harvard University',
 'University of New Mexico',
 'Stanford University',
 nan,
 nan,
 'Brown University',
 'College of the Holy Cross',
 'Stanford University',
 nan,
 'Princeton University',
 'Wellesley College',
 'Antioch College',
 'Trinity Washington University',
 'Boston University',
 nan,
 'Georgetown University',
 'Harvard University',
 'University of Missouri',
 'Dartmouth College',
 'Howard University',
 'Yale University',
 'University of Missouri',
 'George Washington University',
 'Stanford University',
 'Stanford University',
 'Yale University',
 'Columbia University',
 'Boston College',
 'Stanford University',
 'Wellesley College',
 'Yale University',
 'Harvard University',
 'University of Delaware',
 'Sarah Lawrence College',
 'Rice University',
 nan,
 'Columbia University',
 'Stanford University',
 nan,
 nan,
 'University of Tennessee at Martin',
 'Saint Louis University',
 nan,
 'Johns Hopkins University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Barnard College',
 'Harvard University',
 nan,
 nan,
 nan,
 'Duquesne University',
 'College of William and Mary',
 'Seoul National University',
 'University of Chicago',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Queens University',
 nan,
 'Westminster School',
 'Boston University',
 nan,
 'Marist College',
 'Harvard University',
 'Duke University',
 'University of Texas',
 'Ohio State University',
 nan,
 'Princeton University',
 'United States Naval Academy',
 'Baylor University',
 'Princeton University',
 'Tufts University',
 'Brigham Young University',
 'Juilliard School',
 'Miami Dade College',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 ...]

In [7]:
print(len(education_list))

993

In [8]:

cleanedList = [x for x in education_list if str(x) != 'nan']

print(len(cleanedList))

249

In [9]:
#cleanedList= set(cleanedList)

In [10]:
print(len(cleanedList))

249

In [11]:
cleanedList= list(cleanedList)

In [12]:

np.savetxt("universities.csv", cleanedList, delimiter= ',', fmt='%s', header='Universities')

In [11]:
final_data = pd.read_csv("profile_details_05.csv")

In [14]:
final_data['age'].describe()

count    984.000000
mean      48.400407
std       13.565269
min       10.000000
25%       38.000000
50%       47.000000
75%       57.000000
max       94.000000
Name: age, dtype: float64

In [15]:
final_data['age'].count()

984

In [16]:
final_data['age'].median()

47.0

In [17]:
final_data['age'].std()

13.56526891326203

In [19]:
final_data.loc[final_data['gender'] == 'F']

,name,wiki_link,age,country_born,state_born,city_born,nationality,gender,occupation,political_party
2,Erin Brockovich,https://en.wikipedia.org/wiki/Erin_Brockovich,58.0,U.S.,Kansas,Lawrence,American,F,Activism and Philanthropy,NaN
4,Malala Yousafzai,https://en.wikipedia.org/wiki/Malala_Yousafzai,21.0,Pakistan,Swat,Mingora,Pakistani,F,Activism and Philanthropy,NaN
5,Chelsea Clinton,https://en.wikipedia.org/wiki/Chelsea_Clinton,38.0,U.S.,Arkansas,Little Rock,American,F,Activism and Philanthropy,Democratic
23,Sheryl Sandberg,https://en.wikipedia.org/wiki/Sheryl_Sandberg,49.0,U.S.,D.C.,Washington,American,F,Business and Corporate,Democratic
28,Rachael Ray,https://en.wikipedia.org/wiki/Rachael_Ray,50.0,U.S.,New York,Glens Falls,American,F,Chef,NaN
37,Sarah McDaniel,https://en.wikipedia.org/wiki/Sarah_McDaniel,23.0,U.S.,California,Roseville,American,F,Entertainment and Show Business,NaN
41,Judy Gold,https://en.wikipedia.org/wiki/Judy_Gold,55.0,U.S.,New Jersey,Newark,American,F,Entertainment and Show Business,NaN
44,Cristela Alonzo,https://en.wikipedia.org/wiki/Cristela_Alonzo,39.0,U.S.,Texas,San Juan,American,F,Entertainment and Show Business,NaN
46,Jenny Slate,https://en.wikipedia.org/wiki/Jenny_Slate,36.0,U.S.,Massachusetts,Milton,American,F,Entertainment and Show Business,NaN
48,Maria Bamford,https://en.wikipedia.org/wiki/Maria_Bamford,48.0,U.S.,California,NaN,American,F,Entertainment and Show Business,NaN
53,Michelle Wolf,https://en.wikipedia.org/wiki/Michelle_Wolf,33.0,U.S.,Pennsylvania,Hershey,American,F,Entertainment and Show Business,NaN
60,Paula Poundstone,https://en.wikipedia.org/wiki/Paula_Poundstone,58.0,U.S.,Alabama,Huntsville,American,F,Entertainment and Show Business,NaN
64,Tig Notaro,https://en.wikipedia.org/wiki/Tig_Notaro,47.0,U.S.,Mississippi,Jackson,American,F,Entertainment and Show Business,NaN
71,Jen Kirkman,https://en.wikipedia.org/wiki/Jen_Kirkman,44.0,U.S.,Massachusetts,Needham,American,F,Entertainment and Show Business,NaN
80,Sarah Silverman,https://en.wikipedia.org/wiki/Sarah_Silverman,47.0,U.S.,New Hampshire,Bedford,American,F,Entertainment and Show Business,NaN
81,Nicki Minaj,https://en.wikipedia.org/wiki/Nicki_Minaj,35.0,Trinidad and Tobago,Port of Spain,Saint James,American,F,Entertainment and Show Business,NaN
92,Moira Demos,https://en.wikipedia.org/wiki/Moira_Demos,NaN,U.S.,NaN,NaN,American,F,Entertainment and Show Business,NaN
93,Laura Ricciardi,https://en.wikipedia.org/wiki/Laura_Ricciardi,NaN,U.S.,NaN,NaN,American,F,Entertainment and Show Business,NaN
94,Ava DuVernay,https://en.wikipedia.org/wiki/Ava_DuVernay,46.0,U.S.,California,Long Beach,American,F,Entertainment and Show Business,NaN
111,Paul Bettany,https://en.wikipedia.org/wiki/Paul_Bettany,47.0,UK,London,NaN,British,F,Entertainment and Show Business,NaN
113,Scott Speedman,https://en.wikipedia.org/wiki/Scott_Speedman,43.0,UK,London,Hammersmith,British,F,Entertainment and Show Business,NaN
150,Julianne Moore,https://en.wikipedia.org/wiki/Julianne_Moore,57.0,U.S.,North Carolina,Fort Bragg,American,F,Entertainment and Show Business,NaN
167,Jessie Mueller,https://en.wikipedia.org/wiki/Jessie_Mueller,35.0,U.S.,Illinois,Evanston,American,F,Entertainment and Show Business,NaN
245,Elisabeth Moss,https://en.wikipedia.org/wiki/Elisabeth_Moss,36.0,U.S.,California,Los Angeles,American,F,Entertainment and Show Business,NaN
252,Zoey Deutch,https://en.wikipedia.org/wiki/Zoey_Deutch,23.0,U.S.,California,Los Angeles,American,F,Entertainment and Show Business,NaN
300,Fred Armisen,https://en.wikipedia.org/wiki/Fred_Armisen,51.0,U.S.,Mississippi,Hattiesburg,American,F,Entertainment and Show Business,NaN
303,Courtney B. Vance,https://en.wikipedia.org/wiki/Courtney_B._Vance,58.0,U.S.,Michigan,Detroit,American,F,Entertainment and Show Business,NaN
374,Carol Burnett,https://en.wikipedia.org/wiki/Carol_Burnett,85.0,U.S.,Texas,San Antonio,American,F,Entertainment and Show Business,NaN
390,Mandy Patinkin,https://en.wikipedia.org/wiki/Mandy_Patinkin,65.0,U.S.,Illinois,Chicago,American,F,Entertainment and Show Business,NaN
401,Helen Mirren,https://en.wikipedia.org/wiki/Helen_Mirren,73.0,U.K.,London,Hammersmith,British,F,Entertainment and Show Business,NaN
...,...,...,...,...,...,...,...,...,...,...
890,Julie Klausner,https://en.wikipedia.org/wiki/Julie_Klausner,40.0,U.S.,New York,New York City,American,F,Journalists and Writers,NaN
891,Robin Thede,https://en.wikipedia.org/wiki/Robin_Thede,39.0,U.S.,Iowa,Spencer,American,F,Journalists and Writers,NaN
893,Erin Foster,https://en.wikipedia.org/wiki/Erin_Foster,36.0,U.S.,California,Los Angeles,American,F,Journalists and Writers,NaN
899,Amy Cuddy,https://en.wikipedia.org/wiki/Amy_Cuddy,46.0,U.S.,Pennsylvania,Robesonia,American,F,Journalists and Writers,NaN
902,Maria Shriver,https://en.wikipedia.org/wiki/Maria_Shriver,62.0,U.S.,Illinois,Chicago,American,F,Journalists and Writers,Democratic
906,Megyn Kelly,https://en.wikipedia.org/wiki/Megyn_Kelly,47.0,U.S.,Illinois,Champaign,American,F,Journalists and Writers,Independent
907,Olivia Hallisey,https://en.wikipedia.org/wiki/Olivia_Hallisey,18.0,U.S.,Connecticut,Greenwich,American,F,Science and Academics,NaN
908,Sarah Parcak,https://en.wikipedia.org/wiki/Sarah_Parcak,39.0,U.S.,Maine,Bangor,American,F,Science and Academics,NaN
915,Eugenia Cheng,https://en.wikipedia.org/wiki/Eugenia_Cheng,NaN,U.K.,Hampshire,NaN,British,F,Science and Academics,NaN
923,Abby Wambach,https://en.wikipedia.org/wiki/Abby_Wambach,38.0,U.S.,New York,Rochester,American,F,Sports,NaN
931,RuPaul Charles,https://en.wikipedia.org/wiki/RuPaul,57.0,U.S.,California,San Diego,American,F,Sports,NaN
941,Lindsey Vonn,https://en.wikipedia.org/wiki/Lindsey_Vonn,34.0,U.S.,Minnesota,Saint Paul,American,F,Sports,NaN
942,Simone Biles,https://en.wikipedia.org/wiki/Simone_Biles,21.0,U.S.,Ohio,Columbus,American,F,Sports,NaN
946,Erin Andrews,https://en.wikipedia.org/wiki/Erin_Andrews,40.0,U.S.,Maine,Lewiston,American,F,Television journalists and hosts,NaN
952,Brooke Baldwin,https://en.wikipedia.org/wiki/Brooke_Baldwin,39.0,U.S.,Georgia,Atlanta,American,F,Television journalists and hosts,NaN
955,Mika Brzezinski,https://en.wikipedia.org/wiki/Mika_Brzezinski,51.0,U.S.,New York,New York City,American,F,Television journalists and hosts,NaN
956,Lesley Stahl,https://en.wikipedia.org/wiki/Lesley_Stahl,76.0,U.S.,Massachusetts,Lynn,American,F,Television journalists and hosts,NaN
957,Julie Chen,https://en.wikipedia.org/wiki/Julie_Chen,48.0,U.S.,New York,New York City,American,F,Television journalists and hosts,NaN
959,Aisha Tyler,https://en.wikipedia.org/wiki/Aisha_Tyler,48.0,U.S.,California,San Francisco,American,F,Television journalists and hosts,NaN
963,Alex Wagner,https://en.wikipedia.org/wiki/Alex_Wagner,40.0,U.S.,D.C.,Washington,American,F,Television journalists and hosts,NaN
964,Wendy Williams,https://en.wikipedia.org/wiki/Wendy_Williams,54.0,U.S.,New Jersey,Monmouth County,American,F,Television journalists and hosts,NaN
966,Rachel Maddow,https://en.wikipedia.org/wiki/Rachel_Maddow,45.0,U.S.,California,Castro Valley,American,F,Television journalists and hosts,NaN
973,Diane Sawyer,https://en.wikipedia.org/wiki/Diane_Sawyer,72.0,U.S.,Kentucky,Glasgow,American,F,Television journalists and hosts,NaN
975,Norah O'Donnell,https://en.wikipedia.org/wiki/Norah_O%27Donnell,44.0,U.S.,D.C.,Washington,American,F,Television journalists and hosts,NaN
978,Shonda Rhimes,https://en.wikipedia.org/wiki/Shonda_Rhimes,48.0,U.S.,Illinois,Chicago,American,F,Television journalists and hosts,NaN
981,Judith Sheindlin,https://en.wikipedia.org/wiki/Judith_Sheindlin,76.0,U.S.,New York,New York City,American,F,Television journalists and hosts,NaN
983,Oprah Winfrey,https://en.wikipedia.org/wiki/Oprah_Winfrey,64.0,U.S.,Mississippi,Kosciusko,American,F,Television journalists and hosts,Democratic
985,Meghan McCain,https://en.wikipedia.org/wiki/Meghan_McCain,34.0,U.S.,Arizona,Phoenix,American,F,Television journalists and hosts,Republican
990,Colleen Ballinger,https://en.wikipedia.org/wiki/Colleen_Ballinger,33.0,U.S.,California,Santa Barbara,American,F,YouTube personality,NaN
991,Liza Koshy,https://en.wikipedia.org/wiki/Liza_Koshy,22.0,U.S.,Texas,Houston,American,F,YouTube personality,NaN

In [21]:
final_data[final_data.gender == 'F'].describe()

              age
count  346.000000
mean    45.086705
std     13.411373
min     18.000000
25%     35.000000
50%     43.000000
75%     52.000000
max     85.000000

In [22]:
final_data[final_data.gender == 'M'].describe()

              age
count  637.000000
mean    50.205651
std     13.326338
min     10.000000
25%     40.000000
50%     49.000000
75%     59.000000
max     94.000000